.redirectPageMessage {
    width: 30%;
    margin: calc(100vh / 2 - 40px) auto;
    text-align: center;
    font-size: 24px;

    .thanks-msg {
        border-bottom: 1px solid $selectBg;
        padding-left: 30px;
        padding-right: 30px;
        p {
            margin: 30px auto;
            font-size: 24px;
            line-height: 24px;
        }
    }
    .hint-msg{
        p {
            margin: 26px auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            .hint-msg__holder{
                font-weight: 200;
            }
        }
        .happy-software{
            width: 120px;
            height: 86px;
            margin: 0 auto;
            background: $happySoftwareBackground;
        }
    }
}

@media screen and (max-width: 800px) {
    .redirectPageMessage {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .redirectPageMessage {
        width: 80%;
    }
}

.redirectPageMessage > .hint-msg {
    display:none;
}
